/* The Confirmation Popup (background) */
.confirmation-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Popup Content */
.popup-content {
  background-color: #fefefe;
  margin: 10% auto; /* Centered and from top */
  padding: 20px;
  border: 1px solid #888;
  position: relative;
  border-radius: 8px;
  width: auto; /* Let the content define the width */
  max-width: 500px; /* Set a maximum width */
  max-height: 90%; /* Limit the maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Popup Title */
.popup-title {
  margin-top: 5px;
  color: #333;
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the title bold */
  text-align: center; /* Center align the title */
}

/* Popup Body */
.popup-body {
  margin-top: 20px;
  text-align: center;
}
/* Close Button */
.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Popup Footer */
.popup-footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

/* Confirm and Cancel Buttons */
.btn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn-danger:hover,
.btn-success:hover,
.btn-secondary:hover {
  opacity: 0.8;
}

/* Adjustments for medium screens */
@media (max-width: 1200px) {
  .popup-content {
    margin: 10% 5%; /* Decrease side margins */
    padding: 15px; /* Decrease padding */
    max-width: 80%; /* Adjust maximum width */
  }
}

/* Adjustments for small screens */
@media (max-width: 600px) {
  .popup-content {
    margin: 10% 5%; /* Further decrease side margins */
    padding: 10px; /* Further decrease padding */
    max-width: 90%; /* Adjust maximum width */
  }

  .popup-title {
    font-size: 20px; /* Adjust the font size */
  }

  .close {
    font-size: 24px; /* Adjust the close button size */
  }
}
