.styled-table th:first-child,
.styled-table th:nth-child(2) {
    text-align: left; /* Left align first and second column headers */
}

.styled-table th {
    text-align: center; /* Center align all other headers */
}

.styled-table td:first-child,
.styled-table td:nth-child(2) {
    text-align: left; /* Left align first and second column */
}

.styled-table td {
    text-align: center; /* Center align all other cells */
}

.table-action{
    cursor: pointer;
}
/* CSS for hover effect on SVG icons */
.table-action svg:hover {
    transform: scale(1.1); /* Scale up the SVG on hover */
    transition: transform 0.2s ease; /* Smooth transition */
    cursor: pointer; /* Show pointer cursor on hover */
}

/* CSS for click effect on SVG icons */
.table-action svg:active {
    transform: scale(0.9); /* Scale down the SVG on click */
}

#chart {
    max-width: 650px;
    margin: 35px auto;
  }

  
#vendor-dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#price-history-table {
    overflow-x: auto;
}

.price-history-table table {
    width: 100%;
    border-collapse: collapse;
}

.price-history-table th, .price-history-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.price-history-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.price-history-table .increase {
    color: red;
}

.price-history-table .decrease {
    color: green;
}

@media (max-width: 768px) {
    .modal-body {
        gap: 10px;
    }
    
    #vendor-dropdown {
        flex-direction: column;
        align-items: flex-start;
    }

    .price-history-table th, .price-history-table td {
        padding: 6px;
        font-size: 14px;
    }
}